.bg-video{
	@include coverer();

	&:after{
		content: '';
		background: rgba(0,0,0,0.6);
		@include coverer();
	}

	.video-player,
	.fallback-image{
		@include size(auto);
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		min-width: 100%;
		min-height: 100%;
		z-index: -1;

		@include respond-to('tablet'){ display: none; }
	}

	.fallback-image{
		display: none;

		@include respond-to('tablet'){ display: block; }
	}
}