.cta-main{
	color: $colorWhite;
	padding: 30px;
	display: none;

	@include respond-to('mobile-landscape'){
		padding: 15px;
	}

	.word{
		height: 70px;
		box-sizing: border-box;
		display: block;
		text-transform: uppercase;
		overflow: hidden;

		@include respond-to('mobile-landscape'){
			height: 40px;
		}

		&:last-child{
			color: $colorBlueLight;
		}
	}
}