.form-holder{
	background: rgba(255,255,255,0.9);
	padding: 40px;
	max-width: $siteframe / 2;
	margin: 0 auto;
	overflow: auto;
	max-height: 650px;
	box-sizing: border-box;

	@include respond-to('mobile-landscape'){
		margin: 0 15px;
		padding: 20px;
	}
}