.nav-toggler {
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	.lines {
		@include size(34px, 24px);
		display: inline-block;
		vertical-align: middle;
		margin: 0 5px 0 0;
		position: relative;
		overflow: hidden;

		.line {
			@include size(percentage(27/34), percentage(3 / 24));
			background: $colorWhite;
			position: absolute;
			left: 0;
			border-radius: 3px;
			transform-origin: center center;
			transition: width 0.4s ease(easeOutQuint), height 0.4s ease(easeOutQuint), transform 0.4s ease(easeOutQuint);

			&:nth-child(1) {
				@include size(percentage(19/34), percentage(3 / 24));
				top: percentage(3 / 20);
				transform: translateY(-50%);
			}

			&:nth-child(2) {
				top: 50%;
				transform: translateY(-50%);
				transition: width 0.4s ease(easeOutQuint), height 0.4s ease(easeOutQuint);
			}

			&:nth-child(3) {
				@include size(percentage(34/34), percentage(3 / 24));
				top: percentage(17 / 20);
				transform: translateY(-50%);
			}
		}
	}

	&:hover .lines .line {
		width: percentage(34/34);

		&:nth-child(1) {
			animation: lines-animation 2s infinite;
			animation-delay: 0.3s;
		}

		&:nth-child(2) {
			animation: lines-animation 2s infinite;
			animation-delay: 0.45s;
		}

		&:nth-child(3) {
			animation: lines-animation 2s infinite;
			animation-delay: 0.60s;
		}
	}

	&.active {
		.lines {
			overflow: visible;

			.line {
				top: 45%;
				left: 10%;
			}

			.line:nth-child(1) {
				width: percentage(28/34);
				transform: rotate(-45deg);
				animation: none;
			}

			.line:nth-child(2) {
				@include size(percentage(34/34), percentage(34/24));
				transform: translate(-50%, -50%);
				background: transparent;
				border: 2px solid $colorWhite;
				border-radius: 50%;
				position: absolute;
				top: 50%;
				left: 50%;
				animation: none;
			}

			.line:nth-child(3) {
				width: percentage(28/34);
				transform: rotate(45deg);
				animation: none;
			}
		}
	}
}

@keyframes lines-animation {
	0% { left: 0; }
	15% { animation-timing-function: steps(1, end); left: 100%; }
	30% { left: -100%; }
	45% { left: 0; }
	100% { left: 0; }
}