/*! normalize.css v2.0.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Corrects `inline-block` display not defined in IE 8/9.
 */
audio,
video {
  display: inline-block; }

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  /* 2 */
  -webkit-font-smoothing: antialiased; }

/*
 * Removes default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
 * Safari 5, and Chrome.
 */
h1 {
  font-size: 2em; }

/*
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Corrects font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * Sets consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/*
 * Addresses inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * Removes border when inside `a` element in IE 8/9.
 */
img, canvas {
  border: 0;
  display: block; }

/*
 * Corrects overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
  -webkit-font-smoothing: antialiased; }

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  /* 1 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
          appearance: none; }

/*
 * Removes inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * Position X,Y,Z (Fallback Top, Left IE)
 * @param {number} $x - X Position
 * @param {number} $y - Y Position
 * @param {number} $z - Z Position
 */
/**
 * Position
 * @param {number} $top (0) - Top Position
 * @param {number} $right (auto) - Right Position
 * @param {number} $bottom (auto) - Bottom Position
 * @param {number} $left (0) - Left Position
 */
/**
 * Offset
 * @param {number} $top (0) - Top Offset
 * @param {number} $left (0) - Left Offset
 */
/**
 * Positioning an element absolute in the center
 * @param {number} $width - Width of the element
 * @param {number} $height - Height of the element
 */
/**
 * Places an element absolute on top of the entire wrapper
 */
/**
 * Set an element to display block and center margin
 */
/**
 * Size an Element
 * @param {number} $width (1em) - Width of the element
 * @param {number} $height ($width) - Height of the element
 */
/**
 * Font Face
 * @param {string} $fontName - Name of the font
 * @param {string} $folderName - Subfolder inside the fonts folder
 * @param {string} $fileName - Name of the font-file
 * @param {string} $fontWeight (normal) - Font weight value
 * @param {string} $fontStyle (normal) - Font style value
 */
/**
 * CSS Background
 * @param {string} $name ($spriteDefault) - Background image, without the image path
 * @param {string} $repeat (no-repeat) - Background repeat
 * @param {position} $left (0) - Background position X
 * @param {position} $top (0) - Background position Y
 * @param {color} $color (transparent) - Background color
 * @param {string} $attachment (scorll) - Background attachment
 */
/**
 * Creates an arrow
 * @param {string} $direction (up) - Arrow direction: up, down, left or right
 * @param {color} $color (#000) - Arrow color
 * @param {size} $size (10px) - Size of the opposite side of the arrow
 * @param {number} $stretch (1) - Amount of the stretch of the arrow
 * @param {boolean} $exclude-base (false) - Remove the default arrow styling (usefull if you want to modify the direction of the arrow on rollover
 */
/**
 * Z-Index function
 * @param {string} $list (Array) - The list to find the current z-index in
 * @param {string} $element (String) - The name of the current element, must be in the $list
 * @returns {number}
 */
/**
 * easing function
 * @param {string} $easeName - The name of the easing function.
 * @returns {string} - Returns a cubic-bezier function with the easing values.
 */
/**
 * Respond To (Breakpoint)
 * @param {string} $name - Name of the breakpoint used in $breakpoints
 */
/* Weight name mapping

	100 - Thin
	200 - Extra Light
	300 - Light
	400 - Normal
	500 - Medium
	600 - SemiBold
	700 - Bold
	800 - Extra Bold
	900 - Black

*/
@font-face {
  font-family: "Proxima_Nova";
  src: url("../font/Proxima/proxima_nova_light-webfont.eot");
  src: url("../font/Proxima/proxima_nova_light-webfont.eot?#iefix") format("embedded-opentype"), url("../font/Proxima/proxima_nova_light-webfont.woff") format("woff"), url("../font/Proxima/proxima_nova_light-webfont.ttf") format("truetype"), url("../font/Proxima/proxima_nova_light-webfont.svg#Proxima_Nova") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Proxima_Nova";
  src: url("../font/Proxima/proxima_nova_reg-webfont.eot");
  src: url("../font/Proxima/proxima_nova_reg-webfont.eot?#iefix") format("embedded-opentype"), url("../font/Proxima/proxima_nova_reg-webfont.woff") format("woff"), url("../font/Proxima/proxima_nova_reg-webfont.ttf") format("truetype"), url("../font/Proxima/proxima_nova_reg-webfont.svg#Proxima_Nova") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Proxima_Nova";
  src: url("../font/Proxima/proxima_nova_sbold-webfont.eot");
  src: url("../font/Proxima/proxima_nova_sbold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/Proxima/proxima_nova_sbold-webfont.woff") format("woff"), url("../font/Proxima/proxima_nova_sbold-webfont.ttf") format("truetype"), url("../font/Proxima/proxima_nova_sbold-webfont.svg#Proxima_Nova") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "icomoon";
  src: url("../font/Icomoon/icomoon.eot");
  src: url("../font/Icomoon/icomoon.eot?#iefix") format("embedded-opentype"), url("../font/Icomoon/icomoon.woff") format("woff"), url("../font/Icomoon/icomoon.ttf") format("truetype"), url("../font/Icomoon/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

h1,
.heading-01 {
  font: 600 70px/70px "Proxima_Nova", Arial, sans-serif; }
  @media (max-width: 767px) {
    h1,
    .heading-01 {
      font: 600 40px/40px "Proxima_Nova", Arial, sans-serif; } }

p,
.copy-01 {
  font: 400 18px/28px "Proxima_Nova", Arial, sans-serif;
  margin: 0 0 30px; }

a,
.link-01 {
  text-decoration: none;
  color: inherit; }

.header-main .nav-main ul, .form-default fieldset, .form-upload fieldset {
  border: 0;
  padding: 0;
  margin: 0; }

.header-main .nav-main ul {
  list-style: none; }

.form-upload .form-nav {
  *zoom: 1; }
  .form-upload .form-nav:before, .form-upload .form-nav:after {
    display: table;
    content: "";
    line-height: 0; }
  .form-upload .form-nav:after {
    clear: both; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.hidden {
  display: none; }

.ir, .clear {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-plus:before {
  content: "\e911"; }

.icon-whatsapp:before {
  content: "\e90d"; }

.icon-twitter:before {
  content: "\e90e"; }

.icon-facebook:before {
  content: "\e90f"; }

.icon-check:before {
  content: "\e90c"; }

.icon-close:before {
  content: "\e903"; }

.icon-arrow-left-bold:before {
  content: "\e904"; }

.icon-arrow-right-bold:before {
  content: "\e905"; }

.icon-arrow-down-bold:before {
  content: "\e906"; }

.icon-arrow-up-bold:before {
  content: "\e907"; }

.icon-arrow-left-regular:before {
  content: "\e908"; }

.icon-arrow-right-regular:before {
  content: "\e909"; }

.icon-arrow-down-regular:before {
  content: "\e90a"; }

.icon-arrow-up-regular:before {
  content: "\e90b"; }

.btn {
  font: 400 20px/50px "Proxima_Nova", Arial, sans-serif;
  display: inline-block;
  position: relative;
  padding: 0 20px 0 20px;
  background: none;
  border: none;
  -webkit-appearance: none;
  text-align: left;
  outline: none; }
  .btn [class^="icon-"], .btn [class*=" icon-"] {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px; }
  .btn [class^="icon-arrow"],
  .btn [class*=" icon-arrow"],
  .btn .icon-plus {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 15px; }
  .btn .top,
  .btn .bottom {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
    .btn .top:before, .btn .top:after,
    .btn .bottom:before,
    .btn .bottom:after {
      content: '';
      position: absolute;
      background: #FFFFFF; }
    .btn .top:before,
    .btn .bottom:before {
      height: 100%;
      width: 4px; }
    .btn .top:after,
    .btn .bottom:after {
      height: 4px;
      width: 100%; }
  .btn .top:before,
  .btn .top:after {
    top: 0;
    left: 0; }
  .btn .bottom:before,
  .btn .bottom:after {
    bottom: 0;
    right: 0; }
  .btn:hover .top:after,
  .btn:hover .bottom:after {
    animation-name: grow-width;
    animation-duration: 0.7s;
    animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
    animation-iteration-count: 1; }
  .btn:hover .top:before,
  .btn:hover .bottom:before {
    animation-name: grow-height;
    animation-duration: 0.7s;
    animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
    animation-iteration-count: 1; }
  .btn.gray {
    color: #666666; }
    .btn.gray .top:before, .btn.gray .top:after, .btn.gray .bottom:before, .btn.gray .bottom:after {
      background: #666666; }
  .btn.blue {
    color: #2DB2E8; }
    .btn.blue .top:before, .btn.blue .top:after, .btn.blue .bottom:before, .btn.blue .bottom:after {
      background: #2DB2E8; }

@keyframes grow-width {
  0% {
    width: 0; }
  50% {
    width: 0; }
  100% {
    width: 100%; } }

@keyframes grow-height {
  0% {
    height: 0; }
  40% {
    height: 100%; } }

.form-default .input, .form-upload .input {
  height: auto;
  width: 100%;
  display: inline-block;
  position: relative;
  margin: 0 0 10px; }
  .form-default .input input[type=text], .form-upload .input input[type=text],
  .form-default .input input[type=email], .form-upload .input input[type=email],
  .form-default .input select, .form-upload .input select {
    height: auto;
    width: 100%;
    box-sizing: border-box;
    background: none;
    padding: 0 15px;
    font: 400 16px/40px "Proxima_Nova", Arial, sans-serif;
    border: 1px solid #666666;
    outline: none;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none; }
    .form-default .input input[type=text] + label, .form-upload .input input[type=text] + label,
    .form-default .input input[type=email] + label, .form-upload .input input[type=email] + label,
    .form-default .input select + label, .form-upload .input select + label {
      position: absolute;
      top: 50%;
      left: 15px;
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
      transition: font-size 0.45s cubic-bezier(0.230, 1.000, 0.320, 1.000), top 0.4s cubic-bezier(0.230, 1.000, 0.320, 1.000), left 0.4s cubic-bezier(0.230, 1.000, 0.320, 1.000); }
    .form-default .input input[type=text]:focus + label, .form-upload .input input[type=text]:focus + label,
    .form-default .input input[type=text].filled + label, .form-upload .input input[type=text].filled + label,
    .form-default .input input[type=email]:focus + label, .form-upload .input input[type=email]:focus + label,
    .form-default .input input[type=email].filled + label, .form-upload .input input[type=email].filled + label,
    .form-default .input select:focus + label, .form-upload .input select:focus + label,
    .form-default .input select.filled + label, .form-upload .input select.filled + label {
      font-size: 10px;
      top: -15%;
      left: 0; }
    .form-default .input input[type=text].validation-failed, .form-upload .input input[type=text].validation-failed,
    .form-default .input input[type=email].validation-failed, .form-upload .input input[type=email].validation-failed,
    .form-default .input select.validation-failed, .form-upload .input select.validation-failed {
      border-color: red; }
      .form-default .input input[type=text].validation-failed + label, .form-upload .input input[type=text].validation-failed + label,
      .form-default .input input[type=email].validation-failed + label, .form-upload .input input[type=email].validation-failed + label,
      .form-default .input select.validation-failed + label, .form-upload .input select.validation-failed + label {
        color: red; }
  .form-default .input select, .form-upload .input select {
    line-height: 16px;
    padding: 9px 35px 9px 15px; }
    .form-default .input select + .icon-arrow-down-regular, .form-upload .input select + .icon-arrow-down-regular {
      position: absolute;
      top: 50%;
      right: 15px;
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
      font-size: 10px; }
  .form-default .input.checker.validation-failed label, .form-upload .input.checker.validation-failed label {
    color: red; }
  .form-default .input.half, .form-upload .input.half {
    height: 48%;
    width: 48%; }
  .form-default .input.small, .form-upload .input.small {
    height: 30%;
    width: 30%; }
  .form-default .input.medium, .form-upload .input.medium {
    height: 60%;
    width: 60%; }
  .form-default .input.file input[type=file], .form-upload .input.file input[type=file] {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0; }
  .form-default .input.file .status, .form-upload .input.file .status {
    height: auto;
    width: 40%;
    margin: 0 0 0 20px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle; }
    @media (max-width: 767px) {
      .form-default .input.file .status, .form-upload .input.file .status {
        height: auto;
        width: 100%;
        margin: 0; } }
  .form-default .input.file .btn.square, .form-upload .input.file .btn.square {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2; }

.form-upload {
  margin: 30px 0 0;
  text-align: justify; }
  .form-upload fieldset {
    margin: 0 0 40px; }
  .form-upload .result {
    height: auto;
    width: 100%;
    text-align: center; }
    .form-upload .result tr {
      border-bottom: 1px solid #666666; }
      .form-upload .result tr:last-child {
        border-left: 1px solid #666666;
        border-right: 1px solid #666666; }
  .form-upload .form-nav .btn-back {
    float: left;
    line-height: 50px;
    cursor: pointer; }
    @media (max-width: 767px) {
      .form-upload .form-nav .btn-back {
        float: none;
        display: block;
        width: 100%; } }
    .form-upload .form-nav .btn-back [class^="icon-"], .form-upload .form-nav .btn-back [class*=" icon-"] {
      font-size: 14px;
      margin: 0 10px 0 0; }
  .form-upload .form-nav .btn {
    float: right; }
    @media (max-width: 767px) {
      .form-upload .form-nav .btn {
        float: none;
        display: block;
        width: 100%; } }

.bg-video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  .bg-video:after {
    content: '';
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .bg-video .video-player,
  .bg-video .fallback-image {
    height: auto;
    width: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1; }
    @media (max-width: 1024px) {
      .bg-video .video-player,
      .bg-video .fallback-image {
        display: none; } }
  .bg-video .fallback-image {
    display: none; }
    @media (max-width: 1024px) {
      .bg-video .fallback-image {
        display: block; } }

.nav-toggler {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; }
  .nav-toggler .lines {
    height: 24px;
    width: 34px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 0;
    position: relative;
    overflow: hidden; }
    .nav-toggler .lines .line {
      height: 12.5%;
      width: 79.41176%;
      background: #FFFFFF;
      position: absolute;
      left: 0;
      border-radius: 3px;
      -ms-transform-origin: center center;
          transform-origin: center center;
      transition: width 0.4s cubic-bezier(0.230, 1.000, 0.320, 1.000), height 0.4s cubic-bezier(0.230, 1.000, 0.320, 1.000), transform 0.4s cubic-bezier(0.230, 1.000, 0.320, 1.000); }
      .nav-toggler .lines .line:nth-child(1) {
        height: 12.5%;
        width: 55.88235%;
        top: 15%;
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
      .nav-toggler .lines .line:nth-child(2) {
        top: 50%;
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        transition: width 0.4s cubic-bezier(0.230, 1.000, 0.320, 1.000), height 0.4s cubic-bezier(0.230, 1.000, 0.320, 1.000); }
      .nav-toggler .lines .line:nth-child(3) {
        height: 12.5%;
        width: 100%;
        top: 85%;
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .nav-toggler:hover .lines .line {
    width: 100%; }
    .nav-toggler:hover .lines .line:nth-child(1) {
      animation: lines-animation 2s infinite;
      animation-delay: 0.3s; }
    .nav-toggler:hover .lines .line:nth-child(2) {
      animation: lines-animation 2s infinite;
      animation-delay: 0.45s; }
    .nav-toggler:hover .lines .line:nth-child(3) {
      animation: lines-animation 2s infinite;
      animation-delay: 0.60s; }
  .nav-toggler.active .lines {
    overflow: visible; }
    .nav-toggler.active .lines .line {
      top: 45%;
      left: 10%; }
    .nav-toggler.active .lines .line:nth-child(1) {
      width: 82.35294%;
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
      animation: none; }
    .nav-toggler.active .lines .line:nth-child(2) {
      height: 141.66667%;
      width: 100%;
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
      background: transparent;
      border: 2px solid #FFFFFF;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      animation: none; }
    .nav-toggler.active .lines .line:nth-child(3) {
      width: 82.35294%;
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
      animation: none; }

@keyframes lines-animation {
  0% {
    left: 0; }
  15% {
    animation-timing-function: steps(1, end);
    left: 100%; }
  30% {
    left: -100%; }
  45% {
    left: 0; }
  100% {
    left: 0; } }

.cta-main {
  color: #FFFFFF;
  padding: 30px;
  display: none; }
  @media (max-width: 767px) {
    .cta-main {
      padding: 15px; } }
  .cta-main .word {
    height: 70px;
    box-sizing: border-box;
    display: block;
    text-transform: uppercase;
    overflow: hidden; }
    @media (max-width: 767px) {
      .cta-main .word {
        height: 40px; } }
    .cta-main .word:last-child {
      color: #2DB2E8; }

.form-holder {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  max-width: 480px;
  margin: 0 auto;
  overflow: auto;
  max-height: 650px;
  box-sizing: border-box; }
  @media (max-width: 767px) {
    .form-holder {
      margin: 0 15px;
      padding: 20px; } }

html, body {
  padding-top: 0;
  height: 100%; }

body {
  font: 400 18px/28px "Proxima_Nova", Arial, sans-serif; }

.view {
  height: 100%; }

.centered-content {
  height: 100%;
  width: 100%;
  display: table;
  position: relative; }
  .centered-content .inner {
    display: table-cell;
    vertical-align: middle; }

.header-nav {
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  z-index: 4; }
  @media (max-width: 767px) {
    .header-nav {
      top: 15px;
      left: 15px;
      right: 15px; } }
  .header-nav .logo {
    margin: 0;
    float: right;
    height: auto;
    width: 150px; }

.header-main {
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  display: none; }
  .header-main .nav-main ul {
    text-align: center;
    font: 600 50px/50px "Proxima_Nova", Arial, sans-serif; }
    .header-main .nav-main ul li {
      margin: 40px 0;
      box-sizing: border-box;
      height: 55px;
      overflow: hidden; }
      .header-main .nav-main ul li a {
        display: inline-block;
        transition: color 0.45s cubic-bezier(0.230, 1.000, 0.320, 1.000); }
        .header-main .nav-main ul li a:after {
          content: '';
          height: 5px;
          width: 0;
          background: #000000;
          display: block;
          transition: width 0.45s cubic-bezier(0.230, 1.000, 0.320, 1.000), background 0.45s cubic-bezier(0.230, 1.000, 0.320, 1.000); }
        .header-main .nav-main ul li a:hover {
          color: #2DB2E8; }
          .header-main .nav-main ul li a:hover:after {
            height: 5px;
            width: 100%;
            background: #2DB2E8; }

/**
 *	Page - index
 */
.view.view-index {
  padding: 90px 0;
  box-sizing: border-box; }
  @media (max-width: 767px) {
    .view.view-index {
      padding: 60px 0; } }

/**
 *	Page - landing
 */

/*# sourceMappingURL=main.screen.css.map*/