h1,h2,h3,h4,h5,h6{ margin: 0; }

// Headings
h1,
.heading-01 {
	font: $semiBold 70px/70px $fontProxima;

	@include respond-to('mobile-landscape'){
		font: $semiBold 40px/40px $fontProxima;
	}
}

// Paragraphs
p,
.copy-01 {
	font: $normal 18px/28px $fontProxima;
	margin: 0 0 30px;
}

// Anchors
a,
.link-01{
	text-decoration: none;
	color: inherit;
}