// Source Paths
$pathFont: 					'../font/';
$pathImage: 				'../image/';

// Fonts
$fontArial: 				Arial, sans-serif;
$fontProxima: 				'Proxima_Nova', $fontArial;
$fontIcomoon: 				'icomoon';

// Font Weights
$thin: 						100;
$ultraLight: 				200;
$light: 					300;
$normal: 					400;
$medium: 					500;
$semiBold: 					600;
$bold: 						700;
$extraBold: 				800;
$black: 					900;

// Breakpoint sizes
$breakpoints: (
	'mobile-portrait': 		'(max-width: 479px)',
	'mobile-landscape': 	'(max-width: 767px)',
	'tablet': 				'(max-width: 1024px)',
	'desktop': 				'(min-width: 1025px)',
);

// Sizes
$siteframe: 				960px;

// Colors
$colorBlack: 				#000000;
$colorWhite: 				#FFFFFF;
$colorGray: 				#666666;
$colorBlue: 				#18294D;
$colorBlueLight:			#2DB2E8;

// Z-indexes
$layout: 					default, remove-btn, main-nav, nav-toggler;