h1,h2,h3,h4,h5,h6,p{ margin: 0; }

h1, .heading-page {
    @include typography('heading-page');
    text-transform: uppercase;
    letter-spacing: -0.1rem;
}

h2, .heading-title {
    @include typography('heading-title');
    color: $colorBlack;
    text-transform: uppercase;
    letter-spacing: -0.1rem;
}

h3, .heading-sub {
    @include typography('heading-sub');
    color: $colorBlack;
    text-transform: uppercase;
}

.copy-default { @include typography('copy-default'); }
.copy-caption { @include typography('copy-caption'); }

a {
    color: currentColor;
    text-decoration: none;
    position: relative;
    transition: color 0.4s ease(easeOutQuint);

    &:after{
        content: '';
        @include size(0, 0.1rem);
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        background: currentColor;
        transition: width 0.4s ease(easeOutQuint);
    }

    &:hover,
    &.active {
        color: $colorMain;

        &:after{ width: 100%; }
    }
}

.color-main { color: $colorMain; }