/* Default site grid */

@mixin grid-column-100($gapSize) {
    @include size(100%, auto);

    &:nth-child(-n+4),
    &:nth-child(2n + 1),
    &:nth-child(2n + 2),
    &:nth-child(3n + 2),
    &:nth-child(4n + 2),
    &:nth-child(4n + 3) {
        @include size(100%, auto);
        margin: 0;
    }

    .card{ margin: 0 0 $gapSize; }
}

@mixin grid-column-50($gapSize) {
    @include size(calc(50% - #{($gapSize / 2) * 1}), auto);

    &:nth-child(2n + 1){ margin: 0 ($gapSize / 2) 0 0; }
    &:nth-child(2n + 2){ margin: 0 0 0 ($gapSize / 2); }

    .card{ margin: 0 0 $gapSize; }
}

@mixin grid-column-33($gapSize) {
    @include size(calc(33.33% - #{($gapSize / 3) * 2}), auto);

    &:nth-child(3n + 2){ margin: 0 $gapSize; }

    .card{ margin: 0 0 $gapSize; }
}

@mixin grid-column-25($gapSize) {
    @include size(calc(25% - #{($gapSize / 4) * 3}), auto);

    &:nth-child(4n + 2){ margin: 0 ($gapSize / 2) 0 $gapSize; }
    &:nth-child(4n + 3){ margin: 0 $gapSize 0 ($gapSize / 2); }

    .card{ margin: 0 0 $gapSize; }
}

@mixin grid-column-33-66($gapSize) {
    &:nth-child(2n + 1){
        @include size(calc(33.33% - #{($gapSize / 2) * 1}), auto);
        margin: 0 $gapSize 0 0;
    }

    &:nth-child(2n + 2){ @include size(calc(66.66% - #{($gapSize / 2) * 1}), auto); }
}

@mixin grid-column-25-75($gapSize) {
    &:nth-child(2n + 1){
        @include size(calc(25% - #{($gapSize / 2) * 1}), auto);
        margin: 0 $gapSize 0 0;
    }

    &:nth-child(2n + 2){ @include size(calc(75% - #{($gapSize / 2) * 1}), auto); }
}

@mixin grid-column-66-33($gapSize) {
    &:nth-child(2n + 1){
        @include size(calc(66.66% - #{($gapSize / 2) * 1}), auto);
        margin: 0 $gapSize 0 0;
    }

    &:nth-child(2n + 2){ @include size(calc(33.33% - #{($gapSize / 2) * 1}), auto); }
}

@mixin grid-column-75-25($gapSize) {
    &:nth-child(2n + 1){
        @include size(calc(75% - #{($gapSize / 2) * 1}), auto);
        margin: 0 $gapSize 0 0;
    }

    &:nth-child(2n + 2){ @include size(calc(25% - #{($gapSize / 2) * 1}), auto); }
}

/**
 * Outputs a new grid division
 * @param {string} $modifierName - this will be the modifier class of the grid
 * @param {string} $gapSize ($gridDefaultSpacing) - Spacing between columns in 'px' value
 */
@mixin addGridModifier($modifierName: #{''}, $gapSize: $gridDefaultSpacing){
    $deviceList: 'desktop' 'tablet' 'mobile';

    // Single column
    &#{$modifierName}.column-100 > .col { @include grid-column-100($gapSize); }

    // Two columns
    &#{$modifierName}.column-50 > .col { @include grid-column-50($gapSize); }

    // Three columns
    &#{$modifierName}.column-33 > .col { @include grid-column-33($gapSize); }

    // Four columns
    &#{$modifierName}.column-25 > .col { @include grid-column-25($gapSize); }

    // Sidebar - Content layout
    &#{$modifierName}.column-33-66 > .col { @include grid-column-33-66($gapSize); }
    &#{$modifierName}.column-25-75 > .col { @include grid-column-25-75($gapSize); }

    // Content - Sidebar layout
    &#{$modifierName}.column-66-33 > .col { @include grid-column-66-33($gapSize); }
    &#{$modifierName}.column-75-25 > .col { @include grid-column-75-25($gapSize); }

    @each $device in $deviceList {
        @if $device != 'desktop' {
            @include respond-to(#{$device+'-landscape'}){
                // Single column
                &#{$modifierName}.#{$device}-column-100 > .col { @include grid-column-100($gapSize); }

                // Two columns
                &#{$modifierName}.#{$device}-column-50 > .col { @include grid-column-50($gapSize); }

                // Three columns
                &#{$modifierName}.#{$device}-column-33 > .col { @include grid-column-33($gapSize); }

                // Four columns
                &#{$modifierName}.#{$device}-column-25 > .col { @include grid-column-25($gapSize); }

                // Sidebar - Content layout
                &#{$modifierName}.#{$device}-column-33-66 > .col { @include grid-column-33-66($gapSize); }
                &#{$modifierName}.#{$device}-column-25-75 > .col { @include grid-column-25-75($gapSize); }

                // Content - Sidebar layout
                &#{$modifierName}.#{$device}-column-66-33 > .col { @include grid-column-66-33($gapSize); }
                &#{$modifierName}.#{$device}-column-75-25 > .col { @include grid-column-75-25($gapSize); }
            }
        }
    }
}