/**
 * Font Face
 * @param {string} $fontName - Name of the font
 * @param {string} $folderName - Subfolder inside the fonts folder
 * @param {string} $fileName - Name of the font-file
 * @param {string} $fontWeight (normal) - Font weight value
 * @param {string} $fontStyle (normal) - Font style value
 */
@mixin font-face($woff2, $fontName, $folderName, $fileName, $fontWeight: normal, $fontStyle: normal){
	@if $woff2 == false {
		@font-face {
			font-family: $fontName;
			src: url('#{$pathFont}#{$folderName}/#{$fileName}.eot');
			src: url('#{$pathFont}#{$folderName}/#{$fileName}.eot?#iefix') format('embedded-opentype'),
			url('#{$pathFont}#{$folderName}/#{$fileName}.woff') format('woff'),
			url('#{$pathFont}#{$folderName}/#{$fileName}.ttf') format('truetype'),
			url('#{$pathFont}#{$folderName}/#{$fileName}.svg##{$fontName}') format('svg');
			font-weight: $fontWeight;
			font-style: $fontStyle;
		}
	}
	@else {
		@font-face {
			font-family: $fontName;
			src: url('#{$pathFont}#{$folderName}/#{$fileName}.woff') format('woff'),
			url('#{$pathFont}#{$folderName}/#{$fileName}.woff2') format('woff2');
			font-weight: $fontWeight;
			font-style: $fontStyle;
		}
	}
}

/**
 * Typography - Generates a font property.
 * @param {string} $type - identifier from the map in variables.scss
 */
@mixin typography($type){
	@each $item in $types {
		@if $type == nth($item, 1) {

			$fontStyle: normal;
			$fontVariant: normal;

			@if length($item) >= 6 { $fontStyle: nth($item, 6); }
			@if length($item) >= 7 { $fontVariant: nth($item, 7); }

			// Old IE fallback
			font: #{$fontStyle} #{$fontVariant} #{nth($item, 2)} #{nth($item, 3)} #{nth($item, 2)} #{nth($item, 3)}/#{nth($item, 4)} nth($item, 5);

			// Calculate to rem
			$fontSize: (nth($item, 3) / $baseSize) + 'rem';
			$lineHeight: (nth($item, 4) / $baseSize) + 'rem';
			font: #{$fontStyle} #{$fontVariant} #{nth($item, 2)} #{$fontSize}/#{$lineHeight} nth($item, 5);

		}
	}
}

/**
 * CSS Background
 * @param {string} $name ($spriteDefault) - Background image, without the image path
 * @param {string} $repeat (no-repeat) - Background repeat
 * @param {position} $left (0) - Background position X
 * @param {position} $top (0) - Background position Y
 * @param {color} $color (transparent) - Background color
 * @param {string} $attachment (scorll) - Background attachment
 */
@mixin background($name: '', $repeat: no-repeat, $left: 0, $top: 0, $color: transparent, $attachment: scroll){
	background: $color url('#{$pathImage}#{$name}') $repeat $left $top $attachment;
}

// Text overflow, Requires inline-block or block for proper styling
@mixin text-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// Disable the use of Ligatures in browsers
@mixin no-ligatures {
	-webkit-font-variant-ligatures: no-common-ligatures;
	font-feature-settings: "liga" 0;
}

/**
 * Creates an arrow
 * @param {string} $direction (up) - Arrow direction: up, down, left or right
 * @param {color} $color ($colorBlack) - Arrow color
 * @param {size} $size (10px) - Size of the opposite side of the arrow
 * @param {number} $stretch (1) - Amount of the stretch of the arrow
 * @param {boolean} $exclude-base (false) - Remove the default arrow styling (usefull if you want to modify the direction of the arrow on rollover
 */
@mixin arrow($direction: up, $color: $colorBlack, $size: 10px, $stretch: 1, $exclude-base: false) {

	@if $exclude-base == false {
		display: inline-block;
		vertical-align: middle;
		width: 0;
		height: 0;
		font: 0/0 serif;
	}

	$size: round($size / 2);
	$longSize: $size * $stretch;

	@if $direction == down {
		border-top: $longSize solid #{$color};
		border-left: $size solid transparent;
		border-right: $size solid transparent;
		border-bottom: 0;
	}
	@else if $direction == left {
		border-top: $size solid transparent;
		border-left: 0;
		border-right: $longSize solid #{$color};
		border-bottom: $size solid transparent;
	}
	@else if $direction == right {
		border-top: $size solid transparent;
		border-left: $longSize solid #{$color};
		border-right: 0;
		border-bottom: $size solid transparent;
	}
	@else {
		border-top: 0;
		border-left: $size solid transparent;
		border-right: $size solid transparent;
		border-bottom: $longSize solid #{$color};
	}

}

/**
 * Shorthand for [class^="icon-"], [class*=" icon-"]
 */
@mixin allIcons($direct: false){
	@if $direct == true {
		& > [class^="fa-"],
		& > [class*=" fa-"] {
			@content;
		}
	} @else {
		[class^="fa-"],
		[class*=" fa-"] {
			@content;
		}
	}
}

/**
 * Outputs a ratio holder
 * @param {number} $width - the width of the desired (original) size
 * @param {number} $height - the height of the desired (original) size
 * @param {string} $type (before) - type of psuedo element
 * @param {boolean} $firstDescendant (true) - same element or first descendant
 */
@mixin ratioHolder($width, $height, $type: before, $firstDescendant: true){
	@if $type == before {
		@if $firstDescendant == true {
			&:before {
				content: '';
				display: block;
				padding-top: percentage($height / $width);
			}
		}
		@else{
			content: '';
			display: block;
			padding-top: percentage($height / $width);
		}
	}
	@else if $type == after {
		@if $firstDescendant == true {
			&:after {
				content: '';
				display: block;
				padding-top: percentage($height / $width);
			}
		}
		@else {
			content: '';
			display: block;
			padding-top: percentage($height / $width);
		}
	}
}

/**
 * Loading circle
 * @param {string} $top (50%) - The top position of the loader element
 * @param {string} $right (50%) - The left position of the loader element
 * @param {string} $bottom (50%) - The bottom position of the loader element
 * @param {string} $left (50%) - The left position of the loader element
 * @param {boolean} $visible (false) - Make loading circle visible or not visible
 */

@mixin loader($top: 50%, $right: auto, $bottom: auto, $left: 50%, $visible: false, $color: $colorBlack){
	&:after {
		content: '';
		@include size(3rem);
		position: fixed;
		@include pos($top, $right, $bottom, $left);
		border-radius: 100%;
		border: 4px solid;
		border-color: $color transparent transparent transparent;
		animation: spinloading 1s infinite;
		z-index: index($layout, loader);
		@if $visible == false {
			opacity: 0;
		} @else {
			opacity: 1;
		}
		transition: opacity 0.4s ease(easeOutQuint);
	}

	&.is-loading {
		&:after{ opacity: 1; }
	}
}

/**
 * Object fit for images (can be used in combination with https://github.com/bfred-it/object-fit-images
 * @param {string} $fit - Type of fit cover/contain etc.
 * @param {string} $position - almost the same as background-position
 */
@mixin object-fit($fit: fill, $position: null){
	-o-object-fit: $fit;
	object-fit: $fit;
	@if $position {
		-o-object-position: $position;
		object-position: $position;
		font-family: 'object-fit: #{$fit}; object-position: #{$position}';
	} @else {
		font-family: 'object-fit: #{$fit}';
	}
}