.footer-main {
    @include typography('copy-caption');
    line-height: 4rem;
    background: $colorBlack;
    color: $colorWhite;

    .inner {
        @include size(100%, auto);
        display: table;

        .copy {
            display: table-cell;
            vertical-align: middle;

            @include respond-to('mobile-landscape'){ display: none; }
        }

        .list-links {
            @extend %reset-list;
            display: table-cell;
            vertical-align: middle;
            text-align: right;

            li {
                display: inline-block;
                margin: 0 0 0 1.5rem;

                a {
                    text-decoration: none;
                    color: $colorWhite;
                }
            }
        }
    }
}