.header-main {
    // Height should be 110px; + 1px border-bottom;
    background: $colorWhite;
    text-align: right;
    box-sizing: border-box;
    border-bottom: 1px solid $colorGrayLight;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    &.fixed{
        position: fixed;
        top: -4.2rem;
        left: 0;
        right: 0;
        z-index: index($layout, default);
    }

    .inner{
        @include size(100%, auto);
        padding: 1rem 0;
        display: table;

        .logo {
            display: table-cell;
            vertical-align: middle;
            @extend %ir;
            @include size(12rem, auto);
            @include ratioHolder(112, 50);
            @include background('img-logo.svg', no-repeat, center, center, transparent);
            background-size: cover;

            @include respond-to('mobile-landscape'){
                @include size(8rem, auto)
                display: block;
                margin: 0 auto;
            }
        }

        nav {
            display: table-cell;
            vertical-align: middle;
            text-align: right;
            @include typography('heading-sub');

            @include respond-to('mobile-landscape'){ display: none; }

            .nav-main {
                @extend %reset-list;

                li{
                    padding: 0 1.5rem;
                    display: inline-block;
                    text-transform: uppercase;

                    a:after{ height: 0.2rem; }
                }
            }
        }
    }
}

.contact-info {
    @include typography('copy-caption');
    line-height: 4rem;
    @include size(100%, auto);
    background: $colorGrayLight;
    text-align: left;

    .inner {
        @include size(100%, auto);
        padding: 0;
        display: table;

        .list-social,
        .list-contact {
            @include size(50%, auto);
            @extend %reset-list;
            display: table-cell;
            vertical-align: middle;

            li {
                display: inline-block;
                vertical-align: middle;
            }
        }

        .list-contact {
            text-align: right;

            li { margin: 0 0 0 1.5rem; }
        }

        .list-social {
            @include respond-to('mobile-landscape'){ display: none; }

            li {
                margin: 0 1rem 0 0;

                a {
                    &:after {
                        content: none;
                        display: none;
                    }

                    &:hover{
                        &.fa-facebook { color: $colorFacebook; }
                        &.fa-linkedin { color: $colorLinkedIn; }
                    }
                }
            }
        }
    }
}