html, body {
	padding-top: 0;
	height: 100%;
}

html{
	font-size: 62.5%;
}

body{
	@include typography('copy-default');
	color: $colorGray;
	background: $colorWhite;
}

.site-frame{
	max-width: $siteFrame;
	margin: 0 auto;
	position: relative;
	padding: 0 1.5rem;
	box-sizing: border-box;
}

.view {
	min-height: 100%;
}

.centered-content{
	@include size(100%);
	display: table;
	position: relative;

	.inner{
		display: table-cell;
		vertical-align: middle;
	}
}

@import "_header";
@import "_footer";