.contact {
    padding: 5rem 0;
    background: $colorGrayLight;
    box-sizing: border-box;
    @include size(100%, auto);

    @include respond-to('tablet-portrait'){ padding: 3rem 1.5rem; }

    .form-contact {
        max-width: 72rem;
        margin: 0 auto;

        @include respond-to('tablet-portrait'){
            @include size(100%, auto);
            display: block;
        }
    }
}