.content {
    margin: $componentDefaultSpacing 0;
    text-align: center;

    .info {
        max-width: 72rem;
        margin: 0 auto;

        .heading-title,
        .copy-default { margin: 0 0 2rem; }
    }

    .grid { text-align: center; }
}