.hero{
    @include size(100%, 60rem);
    color: $colorWhite;
    position: relative;

    @include respond-to('mobile-landscape'){
        @include size(100%, auto);
        padding: 3rem 0;
        text-align: center;
    }

    .media{
        @include size(100%);
        @include coverer();
        background: $colorBlack;
        overflow: hidden;

        img{
            @include abs-center();
            @include size(100%);
            opacity: 0.7;
            @include object-fit(cover);
            display: none;

            @include respond-to('tablet-landscape'){ display: block; }
        }

        video{
            @include size(auto);
            @include abs-center();
            min-width: 100%;
            min-height: 100%;
            opacity: 0.7;

            @include respond-to('tablet-landscape'){ display: none; }
        }
    }

    .description{
        @include size(50%, auto);

        .heading-page { margin: 0 0 2rem; }

        @include respond-to('tablet-portrait'){ @include size(100%, auto); }
    }
}