.statistics {
    @include background('bg-pattern.jpg', repeat, center, center);
    background-size: cover;
    position: relative;
    color: $colorWhite;

    &:before{
        content: '';
        background: $colorBlack;
        opacity: 0.8;
        @include size(100%);
        @include coverer();
    }

    .stat {
        padding: 12rem 0;
        text-align: center;

        @include respond-to('mobile-landscape'){
            padding: 3rem 0;
        }

        .value,
        .key { display: block; }

        .value {
            @include typography('heading-featured');
            display: block;
        }
    }
}