.statement{
    text-align: center;
    margin: 3rem 0 0;

    .heading-sub{
        position: relative;
        margin: 0 0 3rem;
        padding: 0 0 2rem;
        @include allIcons(){
            display: block;
            text-align: center;
            font-size: 4rem;
            color: $colorGray;
            margin: 0 0 1.5rem;
        }

        &:after{
            content: '';
            background: $colorGray;
            @include size(4rem, 1px);
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}