.btn{
    background: $colorMain;
    padding: 0 2rem;
    @include typography('heading-sub');
    line-height: 4rem;
    border: none;
    -webkit-appearance: none;
    color: $colorWhite;
    text-transform: uppercase;
    transition: background 0.4s ease(easeOutQuint);

    &:hover {
        background: $colorMainDark;
    }
}