form{
    fieldset{
        @extend %reset-bmp;

        .heading-title,
        .copy-default {
            margin: 0 0 2rem;
        }

        .input,
        .textarea {
            @include size(100%, auto);
            position: relative;
            background: $colorGrayMedium;
            color: $colorGray;
            margin: 0 0 1rem;
            box-sizing: border-box;
            border: 1px solid transparent;;

            input[type=text],
            input[type=email],
            input[type=number],
            input[type=password],
            textarea {
                @include size(100%, auto);
                @extend %reset-bmp;
                background: none;
                padding: 1rem;
                outline: none;
                -webkit-appearance: none;
                resize: none;

                & + label {
                    @include typography('copy-caption');
                    position: absolute;
                    top: 50%;
                    left: 1rem;
                    transform: translateY(-50%);
                    transition: opacity 0.4s ease(easeOutQuint);
                }

                &:focus,
                &.filled{
                    & + label {
                        opacity: 0;
                    }
                }
            }

            textarea {
                min-height: 15rem;

                & + label {
                    top: 1rem;
                    transform: translateY(0);
                }
            }

            &.validation-failed{
                border-color: $colorError;
            }
        }
    }
}