.grid{
    font: 0/0 a;
    text-align: left;

    & > .col{
        @include size(100%, auto);
        @include typography('copy-default');
        display: inline-block;
        vertical-align: top;
    }

    .tile,
    .card{ margin: 0 0 $gridDefaultSpacing; }
    &.reduced-spacing .tile,
    &.reduced-spacing .card { margin: 0 0 $gridReducedSpacing; }
    &.glued .tile,
    &.glued .card { margin: 0; }

    @include addGridModifier();
    @include addGridModifier('.glued', 0px);
    @include addGridModifier('.extra-spacing', $gridExtraSpacing);
    @include addGridModifier('.reduced-spacing', $gridReducedSpacing);
    @include addGridModifier('.minimal-spacing', $gridMinimalSpacing);
}