// Header top bar
.header-nav{
	position: absolute;
	top: 30px;
	left: 30px;
	right: 30px;
	z-index: index($layout, nav-toggler);

	@include respond-to('mobile-landscape'){
		top: 15px;
		left: 15px;
		right: 15px;
	}

	.logo{
		margin: 0;
		float: right;
		@include size(150px, auto);
	}
}

// Overlay Menu
.header-main{
	background: rgba(255,255,255,0.8);
	@include coverer();
	z-index: index($layout, main-nav);
	display: none;

	.nav-main{
		ul{
			@extend %reset-list;
			text-align: center;
			font: $semiBold 50px/50px $fontProxima;

			li{
				margin: 40px 0;
				box-sizing: border-box;
				height: 55px;
				overflow: hidden;

				a{
					display: inline-block;
					transition: color 0.45s ease(easeOutQuint);

					&:after{
						content: '';
						@include size(0, 5px);
						background: $colorBlack;
						display: block;
						transition: width 0.45s ease(easeOutQuint), background 0.45s ease(easeOutQuint);
					}

					&:hover{
						color: $colorBlueLight;

						&:after{
							@include size(100%, 5px);
							background: $colorBlueLight;
						}
					}
				}
			}
		}
	}
}