html, body {
	padding-top: 0;
	height: 100%;
}

body{
	font: $normal 18px/28px $fontProxima;
}

.view {
	height: 100%;
}

.centered-content{
	@include size(100%);
	display: table;
	position: relative;

	.inner{
		display: table-cell;
		vertical-align: middle;
	}
}

@import "_header";
@import "_footer";