// Source Paths
$pathFont: 						'../font/';
$pathImage: 					'../image/';

// Fonts
$fontArial: 					Arial, "Helvetica Neue", Helvetica, sans-serif;
$fontHeading: 					'catamaran', $fontArial;
$fontCopy: 						'roboto', $fontArial;
$fontIcon:						'fontawesome';

// Font weights
$fontWeights: (
	thin:  						100,
	ultralight:  				200,
	light:  					300,
	regular:  					400,
	medium:  					500,
	semibold:  					600,
	bold:  						700,
	extrabold:  				800,
	black:  					900
);

// Font Styling formatting: ($identifier, font-style, font-variant, font-weight, font-size, line-height, font-family);
$types: (
		('heading-featured', 	weight(black), 		45px, 	53px, 	$fontHeading),
		('heading-page', 		weight(black), 		35px, 	43px, 	$fontHeading),
		('heading-title', 		weight(bold), 		25px, 	33px, 	$fontHeading),
		('heading-sub', 		weight(bold), 		14px, 	22px, 	$fontHeading),

		('copy-default', 		weight(regular), 	14px, 	22px, 	$fontCopy),
		('copy-caption', 		weight(regular), 	12px, 	20px, 	$fontCopy)
);

// Breakpoint sizes
$breakpoints: (
	'mobile-portrait':			'(max-width: 479px)',
	'mobile-landscape':			'(max-width: 767px)',
	'tablet-portrait':			'(max-width: 800px)',
	'tablet-landscape':			'(max-width: 1024px)',
	'desktop':					'(min-width: 1025px)',
	'desktop-hover':			'(min-device-width: 1025px)'
);

// Sizes
$baseSize: 						10px;

$siteFrame:						1180px;

// Component Spacing
$componentDefaultSpacing:		60px;

$gridDefaultSpacing: 			40px;
$gridExtraSpacing:				50px;
$gridReducedSpacing:			20px;
$gridMinimalSpacing:			10px;

// Colors
$colorMain: 					#00AEEF;
$colorMainDark: 				#0E76BC;
$colorError:					#EA5354;

// Grayscales
$colorWhite: 					#FFFFFF;
$colorBlack: 					#000000;
$colorGrayLight:				#F8F8F8;
$colorGrayMedium:				#EEEEEE;
$colorGray:						#BCBCBC;

// Social Media Colors
$colorFacebook:					#3B5998;
$colorTwitter:					#00B6F1;
$colorGooglePlus:				#DF4A32;
$colorLinkedIn:					#007BB6;
$colorWhatsapp:					#43D854;

// Z-indexes
$layout: 						default;

