.btn{
	font: $normal 20px/50px $fontProxima;
	display: inline-block;
	position: relative;
	padding: 0 20px 0 20px;
	background: none;
	border: none;
	-webkit-appearance: none;
	text-align: left;
	outline: none;

	[class^="icon-"], [class*=" icon-"] {
		display: inline-block;
		vertical-align: middle;
		font-size: 15px;
	}

	[class^="icon-arrow"],
	[class*=" icon-arrow"],
	.icon-plus{
		display: inline-block;
		vertical-align: middle;
		margin: 0 0 0 15px;
	}

	.top,
	.bottom{
		@include coverer();

		&:before,
		&:after {
			content: '';
			position: absolute;
			background: $colorWhite;
		}

		&:before{ @include size(4px, 100%); }
		&:after{ @include size(100%, 4px); }
	}

	.top:before,
	.top:after{ top: 0; left: 0; }

	.bottom:before,
	.bottom:after{ bottom: 0; right: 0; }

	&:hover{
		.top:after,
		.bottom:after{
			animation-name: grow-width;
			animation-duration: 0.7s;
			animation-timing-function: ease(easeOutQuint);
			animation-iteration-count: 1;
		}

		.top:before,
		.bottom:before{
			animation-name: grow-height;
			animation-duration: 0.7s;
			animation-timing-function: ease(easeOutQuint);
			animation-iteration-count: 1;
		}
	}

	&.gray{
		color: $colorGray;

		.top:before, .top:after, .bottom:before, .bottom:after{ background: $colorGray; }
	}

	&.blue {
		color: $colorBlueLight;

		.top:before, .top:after, .bottom:before, .bottom:after { background: $colorBlueLight; }
	}
}

@keyframes grow-width {
	0% { width: 0; }
	50% { width: 0; }
	100% { width: 100%; }
}

@keyframes grow-height {
	0% { height: 0; }
	40% { height: 100%; }
}