.form-default{
	fieldset{ @extend %reset-bmp; }

	.input{
		@include size(100%, auto);
		display: inline-block;
		position: relative;
		margin: 0 0 10px;

		input[type=text],
		input[type=email],
		select{
			@include size(100%, auto);
			box-sizing: border-box;
			background: none;
			padding: 0 15px;
			font: $normal 16px/40px $fontProxima;
			border: 1px solid $colorGray;
			outline: none;
			border-radius: 0;
			-webkit-appearance: none;
			-moz-appearance: none;

			& + label{
				position: absolute;
				top: 50%;
				left: 15px;
				transform: translateY(-50%);
				transition: font-size 0.45s ease(easeOutQuint), top 0.4s ease(easeOutQuint), left 0.4s ease(easeOutQuint);
			}

			&:focus + label,
			&.filled + label{
				font-size: 10px;
				top: -15%;
				left: 0;
			}

			&.validation-failed{
				border-color: red;

				& + label{
					color: red;
				}
			}
		}

		select {
			line-height: 16px;
			padding: 9px 35px 9px 15px;

			& + .icon-arrow-down-regular{
				position: absolute;
				top: 50%;
				right: 15px;
				transform: translateY(-50%);
				font-size: 10px;
			}
		}

		&.checker.validation-failed label{ color: red; }

		&.half{
			@include size(percentage(48 / 100));
		}

		&.small{
			@include size(percentage(30 / 100));
		}

		&.medium{
			@include size(percentage(60 / 100));
		}

		&.file{

			input[type=file]{
				@include coverer();
				opacity: 0;
			}

			.status{
				@include size(40%, auto);
				margin: 0 0 0 20px;
				overflow: hidden;
				display: inline-block;
				white-space: nowrap;
				vertical-align: middle;

				@include respond-to('mobile-landscape'){
					@include size(100%, auto);
					margin: 0;
				}
			}

			.btn.square{
				position: absolute;
				top: 0;
				right: 0;
				z-index: index($layout, remove-btn);
			}
		}
	}
}

.form-upload{
	@extend .form-default;
	margin: 30px 0 0;
	text-align: justify;

	fieldset{ margin: 0 0 40px; }

	.result{
		@include size(100%, auto);
		text-align: center;

		tr{
			border-bottom: 1px solid $colorGray;

			&:last-child{
				border-left: 1px solid $colorGray;
				border-right: 1px solid $colorGray;
			}
		}
	}

	.form-nav{
		@extend %clearfix;

		.btn-back{
			float: left;
			line-height: 50px;
			cursor: pointer;

			@include respond-to('mobile-landscape'){
				float: none;
				display: block;
				width: 100%;
			}

			[class^="icon-"], [class*=" icon-"]{
				font-size: 14px;
				margin: 0 10px 0 0;
			}
		}

		.btn{
			float: right;

			@include respond-to('mobile-landscape'){
				float: none;
				display: block;
				width: 100%;
			}
		}
	}
}