[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: $fontIcomoon;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
	content: "\e911";
}
.icon-whatsapp:before {
	content: "\e90d";
}
.icon-twitter:before {
	content: "\e90e";
}
.icon-facebook:before {
	content: "\e90f";
}
.icon-check:before {
	content: "\e90c";
}
.icon-close:before {
	content: "\e903";
}
.icon-arrow-left-bold:before {
	content: "\e904";
}
.icon-arrow-right-bold:before {
	content: "\e905";
}
.icon-arrow-down-bold:before {
	content: "\e906";
}
.icon-arrow-up-bold:before {
	content: "\e907";
}
.icon-arrow-left-regular:before {
	content: "\e908";
}
.icon-arrow-right-regular:before {
	content: "\e909";
}
.icon-arrow-down-regular:before {
	content: "\e90a";
}
.icon-arrow-up-regular:before {
	content: "\e90b";
}

